server:
  port: 44444

swagger:
  host: localhost:44444

spring:
  profiles:
    active: default,swagger

elasticsearch:
  baseUrl: http://localhost:19200

agentBilling:
  baseUrl: http://proxy/api/bg-agent-billing
